.cardslist {
  position: relative;
}
.bookmarks {
  position: fixed;
  z-index: 20;
  right: 30px;
  top: 46px;
  display: flex;
  align-items: center;
}
.bookmarks svg * {
  fill: var(--green);
}

.bookmarksList {
  position: fixed;
  top: 70px;
  right: 40px;
  z-index: 22;
}

.bookmarksList > div > div > div {
  padding: 2px;
  max-width: 200px;
  overflow: hidden;
  display: block !important;
}
.bookmarksList > div > div > div:hover {
  background-color: var(--grey-blue);
}

@media all and (max-width: 1024px) {
  .bookmarks {
    top: 80px;
  }
  .bookmarksList {
    top: 108px;
    right: 30px;
  }
}

.error,
.info {
  position: relative;
  text-align: center;
  font-size: 16px;
  height: 72px;
  z-index: 10;
  padding: 16px;
  padding-top: 24px;
  background-color: white;
}

.error {
  color: var(--orange);
}

.info {
  color: var(--grey66);
}
