.postContainer {
  position: absolute;
  z-index: 100;
  width: 820px;
  margin-top: 100px;
  margin-left: calc(50vw - 410px);
  margin-right: auto;
  background-color: white;
  border-radius: 5px;
  padding: 32px 48px 32px 48px;
  max-height: (100vh - 100px);
  min-height: 540px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.close {
  position: absolute;
  right: 32px;
  top: 32px;
}
