.textContent {
  display: flex;
  flex-wrap: row wrap;
  flex-direction: column;
  padding: 22px 20px 13px;
}

.metaData {
  display: flex;
  flex-wrap: row nowrap;
  align-items: center;
  font-size: 10px;
  line-height: 12px;
}

.userLink {
  font-size: 14px;
  display: flex;
  flex-wrap: row nowrap;
  align-items: center;
  height: 20px;
  padding: 0 6px 0 0;
}

.avatar {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.userName {
  padding-left: 6px;
  color: var(--grey-blue-dark);
}

.createdAt,
.createdAt * {
  color: var(--grey99);
  font-size: 14px;
}

@media all and (max-width: 1024px) {
  .publishedLabel span {
    display: none;
  }
}

@media all and (min-width: 1540px) {
  .publishedLabel {
    display: none;
  }
}

@media all and (max-width: 1540px) {
  .publishedWithoutLabel {
    display: none;
  }
}

@media all and (min-width: 1024px) {
  .textContent {
    order: 2;
    width: calc(100% - 440px);
  }

  .metaData {
    flex-wrap: row-reverse nowrap;
    order: 2;
    margin-top: 8px;
  }

  .userLink {
    order: 2;
  }

  .userName {
    font-size: 14px;
    line-height: 16px;
  }

  .avatar {
    width: 24px;
    height: 24px;
    margin: 0 2px;
  }

  .createdAt {
    order: 1;
    font-size: 14px;
    line-height: 16px;
    margin-left: 0px;
  }
}
