.controls {
  padding: 10px 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.karmaCounter > * + * {
  padding: 2px 1px 0 4px;
}
.karmaCounter svg {
  width: 20px !important;
  height: 10px !important;
  fill: var(--grey99);
}
.karmaValue {
  color: var(--greyC4);
}

.down {
  transform: rotate(180deg);
}

.commentsButton {
  display: flex;
  align-items: normal;
}

.commentsButton * {
  color: var(--greyC4);
  fill: var(--greyC4);
}

.commentsNumber {
  padding: 0 0 6px;
  font-size: 12px;
  line-height: 14px;
}

.shareButton,
.saveButton {
  width: 20px;
  height: 20px;
  background-color: var(--greyC4);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 0 5px;
}
.shareButton svg,
.saveButton svg {
  width: 100%;
  height: 100%;
  padding: 2px;
  fill: white;
}
.actions {
  display: flex;
  flex-wrap: row nowrap;
}
@media all and (min-width: 1024px) {
  .controls {
    order: 3;
    margin: 0 8px;
    padding: 0;
  }

  .karmaCounter {
    order: 4;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
  }

  .karmaValue {
    font-size: 14px;
    line-height: 16px;
    color: var(--black);
  }

  .commentsButton,
  .actions {
    display: none;
  }
  .karmaCounter {
    align-items: center;
  }
  .karmaCounter * {
    padding: unset;
  }
}

@media all and (min-width: 1540px) {
  .controls {
    margin: 0 24px;
  }
  .up:hover svg {
    fill: var(--green) !important;
    color: var(--green) !important;
  }
  .down:hover svg {
    fill: var(--orange) !important;
    color: var(--orange) !important;
  }
}
