.header-container {
    padding: 24px;
    margin: 24px;
    width: 280px;
    border-radius: 2px;
    border: 1px solid rgb(48, 148, 151);
    box-shadow: 2px 2px 5px 0 rgba(43, 123, 138, 0.3);
    background-color: white;
  }
  .header {
    margin: 8px 0;
    color: rgb(23, 4, 61) !important;
  }
  .header-comment {
    color: rgb(48, 148, 151);
    margin: 0 16px;
  }
  
  .content-container {
    margin: 24px;
    display: flex;
    flex-direction: row;
  }
  .content-container--column {
    margin-left: 64px;
    display: flex;
    flex-direction: column;
  }
  .button {
    border: none;
    font-size: 14px;
    width: 80px;
    height: 24px;
    margin: 16px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    border: 1px solid mediumturquoise;
    box-shadow: 1px 1px 4px 0 rgba(43, 123, 138, 0.3);
  }
  .button:focus,
  .button:active,
  .button-show:focus,
  .button-show:active {
      outline: unset !important;
  }
  .show-text {
    color: rgb(167, 166, 168);
  }
  